/* You can add global styles to this file, and also import other style files */
h1 {
  text-align: center;
  margin-top: 20px;
}

#botonAdicionarShow {
  background-color: rgb(104, 83, 46);
  color: white;
}

#botonAdicionarModal {
  background-color: rgb(70, 139, 53);
  color: white;
}

#botonActualizarModal {
  background-color:rgb(70, 139, 53);
  color: white;
}



